################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/MongoMvc/bin/Debug/netcoreapp1.0
/MongoMvc/obj/Debug/netcoreapp1.0
/MongoMvc/Views/Home/Contact.cshtml
/MongoMvc/wwwroot/lib
/MongoMvc/MongoMvc.xproj.user
/MongoMvc/project.lock.json
/MongoMvc/Project_Readme.html
