@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-3">
        <h2>Application uses</h2>
        <ul>
            <li>This starts from the <a href="http://www.qappdesign.com/using-mongodb-with-net-core-webapi/">sample application</a>, created initially for ASP.NET Core WebAPI <br /></li>
            <li>It extends the application with a Search method</li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>Controller actions</h2>
        <ul>
            <li><strong>Init</strong>: Fill with some sample data</li>
            <li><strong>Read</strong>: Reads one record</li>
        </ul>
    </div>
</div>
