@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-3">
        <h2>Application uses</h2>
        <ul>
            <li>Sample pages provided by ASP.NET Core MVC template</li>
            <li>It includes MongoDB Driver (latest version)</li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>How to</h2>
        <ul>
            <li>Update actions on controller</li>
            <li>Actions included now just on <strong>About</strong> menu - connect to MongoDB and try to retrieve sample data</li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>More text</h2>
        <ul>
            <li><a href="http://go.microsoft.com/fwlink/?LinkId=518008">Conceptual overview of what is ASP.NET Core</a></li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>Run & Deploy</h2>
        <ul>
            <li><a href="http://go.microsoft.com/fwlink/?LinkID=517851">Run your app</a></li>
        </ul>
    </div>
</div>
